:root {
    --green: #1f3d36;
    --cream: #f6efe9;
    --gold: #c9a24d;
    --dark: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--dark);
    background: #fff;
}


.topbar {
    background: var(--green);
    color: #fff;
    text-align: center;
    padding: 6px 12px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.logo-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    filter: invert(1);

}

header {
    background: #fff;
    border-bottom: 1px solid #eee;
}

.header-inner {
    max-width: 1600px;
    margin: auto;
    padding: 14px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
}

.step-into {
    transform: translate(80%);
}

.logo-main {
    gap: 20px;
    transform: translate(-50%);
}

.search {
    position: relative;
    width: 220px;
}

.search input {
    width: 100%;
    padding: 8px 32px 8px 12px;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 13px;
}

.search span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    opacity: .6;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    letter-spacing: 1px;
}

.icons {
    display: flex;
    gap: 14px;
    font-size: 18px;
    cursor: pointer;
}

nav {
    background: var(--cream);
}

nav ul {
    max-width: 1200px;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 28px;
    padding: 10px 0;
    font-size: 14px;
}

nav li {
    cursor: pointer;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 520px;
}

.hero-left {
    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("https://images.pexels.com/photos/26860216/pexels-photo-26860216.jpeg") center/cover no-repeat;
    padding: 80px 70px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-left h1 {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 14px;
    margin-top: 160px;
}

.hero-left h1 em {
    font-style: italic;
}

.hero-left p {
    max-width: 5000px;
    font-size: 14px;
    opacity: .9;
    margin-bottom: 22px;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: #fff;
    color: #000;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: 14px;
    width: max-content;
    cursor: pointer;
}

.hero-right {
    background: #f5eee8 url('4d59ec8c-0f23-4ac9-bece-b536196108a9.png') center/cover no-repeat;
    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("https://plus.unsplash.com/premium_photo-1724075323544-64a09f14f80b?q=80&w=702&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.features {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 13px;
    background: #fff;
}

.feature {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #333;
}

@media(max-width:900px) {
    .hero {
        grid-template-columns: 1fr;
    }

    .hero-left {
        padding: 50px 30px;
    }

    .search {
        display: none;
    }
}

.bestseller {
    background: #fbf6f1;
    padding: 60px 20px;
}

.bestseller-header {
    max-width: 1200px;
    margin: 0 auto 40px;
}

.bestseller-header h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin-bottom: 14px;
}

.bestseller-header em {
    font-style: italic;
}

.tabs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tab {
    padding: 6px 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 13px;
    cursor: pointer;
}

.tab.active {
    background: var(--green);
    color: #fff;
    border-color: var(--green);
}

.products {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    background: #fff;
    padding: 10px 10px;
    text-align: center;
    transition: all 500ms ease-in-out;
}

.card:hover {
    background: peachpuff;
    transform: scale(1.05);

}

.card img {
    max-width: 100%;
    margin-bottom: 20px;
    height: 500px;
}

.card h4 {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 6px;
}

.price {
    font-size: 14px;
    font-weight: 600;
}

.price span {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 12px;
    opacity: .6;
    margin-left: 6px;
}

.colors {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.colors span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.gold {
    background: #d4af37;
}

.silver {
    background: #cfcfcf;
}

.center {
    text-align: center;
    margin-top: 40px;
}

.btn.dark {
    background: var(--green);
    color: #fff;
}

@media(max-width:900px) {
    .products {
        grid-template-columns: 1fr;
    }
}

.recently {
    background: #f1dfd1;
    padding: 40px 20px;
}

.recently h3 {
    max-width: 1200px;
    margin: 0 auto 20px;
    font-family: 'Playfair Display', serif;
}

.recent-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.recent-card {
    padding: 16px;
    font-size: 11px;
    height: 250px;
}

.recent-card img {
    width: 100%;
    margin-bottom: 10px;
    height: 80%;
    object-fit: cover;
}

.recent-card span em {
    text-decoration: line-through;
    opacity: .6;
    font-style: normal;
}

.gift {
    padding: 60px 20px;
    background: #fff;
}

.gift h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
}

.gift-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 10px;
}

.gift-large img {
    width: 100%;
    height: 99%;
    object-fit: cover;
    transition: all 500ms ease-in-out;
}

.gift-large img:hover{
    transform: scale(1.02);
}

.gift-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.gift-card img {
    width: 100%;
    height: 90%;
    display: block;
    transition: all 500ms ease-in-out;
}

.gift-card img:hover{
    transform: scale(1.01);
}
.gift-card button {
    width: 80%;
    margin-top: 5px;
    margin-left: 30px;
    padding: 10px;
    border: 1px solid #333;
    background: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gift-card button:hover {
    background-color: peachpuff;
    transform: scale(1.05);


}

@media(max-width:900px) {
    .recent-grid {
        grid-template-columns: 1fr 1fr;
    }

    .gift-grid {
        grid-template-columns: 1fr;
    }
}

.campaign {
    padding: 60px 20px;
    background: #fff;
}

.campaign-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.campaign-card {
    height: 380px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.campaign-card.left {
    background-image: url('https://images.unsplash.com/photo-1633934542430-0905ccb5f050?q=80&w=1025&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.campaign-card.right {
    background-image: url('https://images.unsplash.com/photo-1673131158657-4404fd1f041a?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.campaign-card .overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    color: #fff;
    background: linear-gradient(to top, rgba(0, 0, 0, .6), transparent);
}

.campaign-card h2 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    margin-bottom: 12px;
}

.campaign-card em {
    font-style: italic;
}

.campaign-card button {
    align-self: flex-start;
    padding: 8px 14px;
    border: none;
    background: #fff;
    font-size: 13px;
    cursor: pointer;
}

.collection {
    padding: 60px 20px;
    background: #fbf6f1;
    text-align: center;
}

.collection h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 25px;
}

.collection-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 14px;
    height: 100%;
}

.collection-card img {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 6px;
    object-fit: cover;
}

.collection-card p {
    font-size: 12px;
}

@media(max-width:900px) {
    .campaign-grid {
        grid-template-columns: 1fr;
    }

    .collection-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.gifts {
    background: #f1dfd1;
    padding: 70px 20px;
    text-align: center;
}

.gifts h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin-bottom: 10px;
}

.gifts em {
    font-style: italic;
}

.subtitle {
    font-size: 13px;
    opacity: .7;
    margin-bottom: 40px;
}

.gifts-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.gift-item {
    background: #fff;
    padding: 18px;
    text-align: left;
    transition: all 500ms ease-in-out;
}

.gift-item:hover {
    background: palevioletred;
    transform: scale(1.03);
}

.gift-item img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    margin-bottom: 16px;
}

.gift-item h4 {
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 6px;
}

.gift-item p {
    font-size: 12px;
    opacity: .8;
    margin-bottom: 14px;
}

.gift-item button {
    background: #1f3d36;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 12px;
    cursor: pointer;
}

@media(max-width:900px) {
    .gifts-grid {
        grid-template-columns: 1fr;
    }
}

.ethos {
    background: #fffaf6;
    padding: 80px 20px;
}

.ethos-grid {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-items: center;
    height: 500px;
    overflow: hidden;
}

.ethos-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.ethos-content .label {
    font-size: 11px;
    letter-spacing: 1px;
    opacity: .6;
}

.ethos-content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 1.2;
    margin: 14px 0 20px;
}

.ethos-content em {
    font-style: italic;
}

.ethos-content p {
    font-size: 14px;
    opacity: .8;
    margin-bottom: 16px;
    max-width: 420px;
}

@media(max-width:900px) {
    .ethos-grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .ethos-content {
        text-align: center;
    }

    .ethos-content p {
        margin-left: auto;
        margin-right: auto;
    }
}

.reviews {
    background: #fffaf6;
    padding: 80px 20px;
    text-align: center;
}

.reviews h2 {
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    margin-bottom: 10px;
}

.reviews em {
    font-style: italic;
}

.reviews .subtitle {
    max-width: 620px;
    margin: 0 auto 50px;
    font-size: 13px;
    opacity: .7;
}

.review-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.review-card {
    text-align: left;
    font-size: 12px;
}

.review-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin-bottom: 14px;
}

.stars {
    color: #000;
    font-size: 12px;
    margin-bottom: 6px;
}

.review-card h4 {
    font-style: italic;
    font-weight: 500;
    margin-bottom: 6px;
}

.review-card p {
    opacity: .8;
    margin-bottom: 10px;
}

.review-card span {
    font-weight: 600;
    font-size: 11px;
}

@media(max-width:900px) {
    .review-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:500px) {
    .review-grid {
        grid-template-columns: 1fr;
    }
}

.future {
    background: #f3e4d9;
    padding: 90px 20px;
}

.future-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    align-items: center;
}

.future-image img {
    width: 100%;
}

.future-content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 16px;
}

.future-content em {
    font-style: italic;
}

.future-content .desc {
    font-size: 14px;
    opacity: .8;
    max-width: 420px;
    margin-bottom: 32px;
}

.future-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.icon-box {
    text-align: center;
    font-size: 12px;
}

.icon-box span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid #1f3d36;
    border-radius: 50%;
    margin-bottom: 8px;
    font-size: 16px;
    color: #1f3d36;
}

.d-flex {
    display: flex;
}

@media(max-width:900px) {
    .future-grid {
        grid-template-columns: 1fr;
        gap: 40px;
        text-align: center;
    }

    .future-content .desc {
        margin-left: auto;
        margin-right: auto;
    }

    .future-icons {
        grid-template-columns: repeat(2, 1fr);
    }
}

.features {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    background: #fffaf5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.feature-card {
    text-align: center;
    max-width: 200px;
}

.circle {
    width: 110px;
    height: 110px;
    border: 2px solid #1f4d48;
    border-radius: 50%;
    margin: 0 auto 15px;
}

.feature-card p {
    font-size: 16px;
    color: #333;
    line-height: 1.4;
}

.footer {
    background: #214f4a;
    color: #fff;
    padding: 60px 8% 30px;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
}

.footer-logo{
    align-items: center;
    gap:20px;
    margin-bottom: 15px;

}
.footer-logo img{
    filter: invert(1);
}

.footer-brand h2 {
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.footer-brand p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 12px;
    opacity: 0.9;
}

.footer-col h3 {
    margin-bottom: 15px;
    font-size: 16px;
    letter-spacing: 1px;
}

.footer-col ul {
    list-style: none;
}

.footer-col li {
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.3s;
}

.footer-col li:hover {
    opacity: 1;
    transform: translateX(5px);
}


.copyright {
    margin-top: 40px;
    background: #2a746d;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
}

@media (max-width: 900px) {
    .features {
        flex-direction: column;
        gap: 30px;
    }

    .footer-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
    }

    .collection-card{
        margin-bottom: 15px;
    }

    .feature-card{
        margin-left: 23%;
        margin-bottom: 10px;
    }
}
@media (max-width: 600px) {

  .topbar {
    flex-direction: column;
    gap: 6px;
    text-align: center;
    font-size: 12px;
  }

  .logo-cont {
    justify-content: center;
  }

  .header-inner {
    flex-direction: column;
    gap: 12px;
  }

  .logo-main {
    transform: none;
  }

  .icons {
    font-size: 20px;
  }


  nav ul {
    justify-content: flex-start;
    overflow-x: auto;
    padding: 10px;
    gap: 20px;
    scrollbar-width: none;
  }

  nav ul::-webkit-scrollbar {
    display: none;
  }

  .products {
    grid-template-columns: 1fr;
  }

  .card img {
    height: 300px;
    object-fit: cover;
  }

  .recent-grid {
    grid-template-columns: 1fr;
  }

  .recent-card {
    height: auto;
  }

  .recent-card p{
    margin-left: 20%;
  }
  .recent-card span{
    margin: 20%;
  }
  .gift-small {
    grid-template-columns: 1fr;
  }

  .gift-card button {
    width: 100%;
    margin-left: 0;
  }

  .campaign-card {
    height: 260px;
  }

  .campaign-card h2 {
    font-size: 22px;
  }


  .collection-grid {
    grid-template-columns: repeat(2, 1fr);
  }


  .review-grid {
    grid-template-columns: 1fr;
  }

  .review-card img {
    height: 220px;
  }

  .ethos-grid {
    flex-direction: column;
    height: auto;
  }

  .ethos-image img {
    height: 260px;
    object-fit: cover;
  }

  .ethos-content h2 {
    font-size: 28px;
  }

  .future-icons {
    grid-template-columns: repeat(2, 1fr);
  }

  .future-content h2 {
    font-size: 28px;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-logo {
    justify-content: center;
  }

  .footer-brand {
    text-align: center;
  }

  .footer-col {
    text-align: center;
  }
}
